*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'poppins';
}

.footer{
    $bg-clr: #263238;
    $text-main-clr: #fff;
    $text-secondary-clr: #cccccc;
    width: 100%;
    display: grid;
    row-gap: 2rem;
    background-color: $bg-clr;
    padding: 1rem 1.5rem;
    position: relative;

    &-company-info{
        display: grid;
        row-gap: 16px;

        & .footer-img{
            display: flex;
            align-items: center;

            & span{
                font-size: 1.75rem;
                color: $text-main-clr;
                font-weight: bold;
                padding-left: 10px;
            }
        }
         & .info{
            display: grid;
            color: $text-secondary-clr;
         }
        & .footer-icons {
            display: flex;
            align-items: center;
            column-gap: .75rem;

            & svg{
                $padding : .75rem;
                height: calc(32px + $padding);
                width: calc(32px + $padding);
                padding: $padding;
                border-radius: 50%;
                background-color: #42555f;
                color: $text-secondary-clr;
                cursor:{ pointer;
            }
        }
    }
    &-links{
        display: grid;
    }

}