*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'poppins';
}

.footer{
    $bg-clr: #263238;
    $text-main-clr: #fff;
    $text-secondary-clr: #cccccc;
    width: 100%;
    display: grid;
    row-gap: 2rem;
    background-color: $bg-clr;
    padding: 1rem 1.5rem;
    position: relative;

    &-company-info{
        display: grid;
        row-gap: 16px;

        & .footer-img{
            display: flex;
        }
    }
}