*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'poppins';
}

.footer{
    $bg-clr: #263238;
    $text-main-clr: #fff;
}